---
---
@charset "utf-8";

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #404040;
  background-image: url("/images/paper.png");
  font: 400 1em/1.4 "Open Sans",sans-serif;
  text-rendering: optimizelegibility;
}

a {
  color: #0044cc;
}

a:hover {
  color: #0044cc;
}

.navbar-default {
/*  background: rgba(255, 255, 255, 0.98) none repeat scroll 0% 0%; */
/*  background-image: url("/images/paper.png"); */
  opacity: 0.95;
  filter: brightness(.92);
  -webkit-box-shadow: 0 7px 6px -6px #999;
  -moz-box-shadow: 0 7px 6px -6px #999;
  box-shadow: 0 7px 6px -6px #999;
}

.navbar-brand,
.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 12px;
}

.content {
  margin: 6em;
  flex: 1;
}

div#footer {
  padding: 1.5em;
  background: #404040 none repeat scroll 0% 0%;
  color: #999;
  font-size: 0.85em;
  text-align: center;
}

div#footer a {
  color: #fff;
}

div#footer a:focus, div#footer a:active, div#footer a:hover {
  text-decoration: underline;
}

.post-title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
  color: #146c8e;
  font-weight: bold;
  padding-top: 70px;
  margin-top: -70px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
#  border-left-color: #1b809e;
  border-left-color: #208040;
}

.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.navbar > .container .navbar-brand {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -20px;
  }
}

