  <!-- fixed navbar -->
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">{{ site.title }}</span>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/posts.html">Posts</a></li>
          <li><a target="_blank" href="https://github.com/rest-switch">GitHub</a></li>
          <li><a target="_blank" href="https://github.com/inindev">About</a></li>
        </ul>
      </div>

    </div>
  </nav>
