---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {% if page.image %}
      <table>
        <tr>
          <td><img {% if page.image-px %}width="{{ page.image-px }}" height="{{ page.image-px }}"{% endif %} src="/images/{{ page.image }}" /></td>
          <td style="width: 4em"></td>
          <td>
            {% if page.title %}<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>{% endif %}
            {% if page.subtitle %}<p><em>{{ page.subtitle }}</em></p>{% endif %}
            {% if page.author %}
            <p class="post-meta" style="font-size: 85%">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span><br />
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
            </p>
          {% endif %}
          </td>
        </tr>
      </table>
      <span>&nbsp;</span>
    {% else %}
      {% if page.title %}<h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>{% endif %}
      {% if page.subtitle %}<p><em>{{ page.subtitle }}</em></p>{% endif %}
      {% if page.author %}
      <p class="post-meta" style="font-size: 85%">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span><br />
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      </p>
      {% endif %}
    {% endif %}
  </header>

  <span>&nbsp;</span>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
